.App {
  text-align: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.AppNrInre {
  height: 100vh;
  text-align: center;
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.title{
  color: #2D4084;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}
.animatie{
  width: 400px;
}
.containerBack{
  position: absolute;
  width:100%;
  height: 100vh;
}
.banner{
  background-image: none;
  position: relative;
  padding-right: 10px;
  width: 300px;
  height: auto;
}
.containerHeader{
  position: relative;
  margin-bottom: 20px;
  margin-left: 3%;
  margin-right: 3%;
}
.containerHead{
  background-color: #2D4084;
}
.textHeader{
  font-size: x-small;
  color: white;
}
.container{
  background-size:cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.container2{
  /* background-image: url(./assets/containertextlung.jpg); */
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.imaginetext{
  position: relative;
  max-width: 100%;
  height: 100%;

}
.textcontainer{
padding-top: 3%;
padding-bottom: 3%;
border-bottom:black;
border: 1px,
}
.text1{
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  color:black;;
  text-align: start;
  padding: 1%;
  margin-left: 5%;
  margin-right: 5%;
}
.nrInre{
  color: #003399;
  text-align: center;
  margin-top: -20px;
}
.text2{
  text-align: start;
  font-size: medium;
  color: #2D4084;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  border-top: 0;border-left: 0;border-right: 0;border-bottom: 1px;
  border-color: #2ea3f2;
  border-style:solid;
}
.textfield{
 border-radius: 5px;
 font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
 color: #2D4084;
}

.grid{
  padding-bottom: 100px;
}
.text3{
  margin-top: 5%;
  text-align: start;
  font-size: medium;
  color: #2D4084;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  border-top: 0;border-left: 0;border-right: 0;border-bottom: 1px;
  border-color: #2ea3f2;
  border-style:solid;
}

#BirouReclamatii, #Produs, #subcat{
  background-color: rgba(0, 0, 0, 0.06);
}
.textfieldWidth{
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}
.containerDocumente{
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.06);
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.text4{
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  margin-top: 5%;
  text-align:center;
  font-size: medium;
}
.containere{
  margin-left: 8%;
  margin-right: 8%;
}
.textfield2{
  border-radius: 5px;
  height: 100px;
  background-color: white;
}
.container3{
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.textarea{
  width: 100%;
  font-size: large;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  background-color: rgba(0, 0, 0, 0.06);
}
.lipsabanner{
  height: 20px;
}
.radio-buttons{
  margin-top: 100px;
}
.text5{
  color: red;
}
.text6{
  color:white;
}
.text7{
  margin-top: 10px;
  text-align: start;
  margin-left: 50px;
  font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
  color: white;
}
.footer{
  margin-top: 50px;
  background-color: #2D4084;
}

